body {
  font-family: sans-serif;
  background-color: #eee;
}

h1 {
  text-align: center;
  margin-bottom: 1.5em;
}

#wrapper {
  max-width: 800px;
  min-height: 80vh;
  margin: auto;

  padding: 2rem;

  border-radius: 5px;
  
  background-color: white;
}

#list-container {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.list-object {
  padding: 1em;
  margin: 1em;
  max-width: 20vw;

  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0 0 10px rgba(125 125 125 / 0.5);

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}